<head>
    <script src="http://api-maps.yandex.ru/1.1/index.xml" type="text/javascript"></script>
    <script>
        var typecontrol = new YMaps.TypeControl();
        map.addControl(typecontrol);

        YMaps.Events.observe(map, map.Events.Click, function () {
            map.removeControl(typecontrol);
        });
    </script>
    <script type="text/javascript">
        // Создает обработчик события window.onLoad
        YMaps.jQuery(function () {
            // Создает экземпляр карты и привязывает его к созданному контейнеру
            var map = new YMaps.Map(YMaps.jQuery("#YMapsID")[0]);

            // Устанавливает начальные параметры отображения карты: центр карты и коэффициент масштабирования
            map.setCenter(new YMaps.GeoPoint(37.64, 55.76), 12);
            // Создает метку в центре Москвы
            var placemark = new YMaps.Placemark(new YMaps.GeoPoint(37.609218,55.753559),{style: "default#style"});

// Устанавливает содержимое балуна
            placemark.name = "Москва";
            placemark.description = "Столица Российской Федерации";

// Добавляет метку на карту
            map.addOverlay(placemark);
        })
    </script>
    <% set_title 'Контакты' %>
</head>
<body>
<content>
    <div class="container">
        <div class="row">
            <div class="col-xs-3 left_nav">
                <nav>
                    <ul class="">
                        <li><%= link_to 'О компании', root_path %>
                        <li><%= link_to 'Фото объектов', page_object_path %>
                        <li><%= link_to 'Парк техники', page_technolog_park_path %>
                        <li><%= link_to 'Онлайн заявки', page_online_applic_path %>
                        <li><%= link_to 'Сро', page_sro_path %>
                        <li><%= link_to 'Справочная информация', page_help_transport_path %>
                        <li class="active"><%= link_to 'Контакты', page_contact_path %>
                    </ul>
                </nav>
            </div>
            <div class="col-xs-5 content_bl">
                <div class="title_contact">
                    <p>Телефон/факс.</p>
                </div>
                <div class="number_contact">
                    <p>53-12-71</p>
                </div>
                <div class="title_contact">
                    <p>Адрес:</p>
                </div>
                <div class="adres_txt">
                    <p>392000, г. Тамбов, ул. Советская, д. 206</p>
                </div>
                <div class="maps_bl">
                    <div id="YMapsID" style="width:173px;height:126px;border: 1px solid #c2c2c2; border-radius: 3px"></div>
                </div>
                <div class="mail_contact">
                    <p><strong>E-mail:</strong> <a href="#">tss68@mail.ru</a> </p>
                </div>
                <div class="rekvizit">
                    <div class="rekvizit_title">
                        <p>Реквизиты</p>
                    </div>
                    <p>ООО «Тамбовстройсервис»</p>
                    <p>ИНН/КПП 6829021910/682901001</p>
                    <p>Р/с 40702810002000000285</p>
                    <p>Тамбовский РФ ОАО "Россельхозбанк" г. Тамбов</p>
                    <p>К/с 30101810600000000713</p>
                    <p>БИК 046850713</p>
                    <p>ОГРН 1066829047823</p>
                    <p>ОКПО 95392729</p>
                </div>
            </div>
            <div class="col-xs-4 right_bl">
                <div class="feedback_bl">
                    <div class="title_feedback">
                        <p>Обратная связь</p>
                    </div>
                    <div class="feed_input">
                        <%= form_tag(page_contact_path) do %>
                            <p><%= label_tag :name, 'Имя' %></p>
                            <%= text_field_tag :name %>
                            <br>
                            <p><%= label_tag :contact, 'Контакт' %></p>
                            <%= text_field_tag :contact %>
                            <br>
                            <p><%= label_tag :message, 'Сообщение' %></p>
                            <%= text_field_tag :message %>
                            <button type="submit" class="btn btn-default"><%= submit_tag "Отправить" %></button>
                        <% end %>
                        <span class="comment_feed">Все поля обязательны для заполнения!</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</content>
</body>