<% set_title 'Сро' %>
<content>
    <div class="container">
        <div class="row">
            <div class="col-xs-3 left_nav">
                <nav>
                    <ul class="">
                        <li><%= link_to 'О компании', root_path %>
                        <li><%= link_to 'Фото объектов', page_object_path %>
                        <li><%= link_to 'Парк техники', page_technolog_park_path %>
                        <li><%= link_to 'Онлайн заявки', page_online_applic_path %>
                        <li class="active"><%= link_to 'Сро', page_sro_path %>
                        <li><%= link_to 'Справочная информация', page_help_transport_path %>
                        <li><%= link_to 'Контакты', page_contact_path %>
                    </ul>
                </nav>
            </div>
            <div class="col-xs-9 content_bl">
                <div class="row">
                    <div class="col-xs-4 sro_bl">
                        <%= link_to image_path('sro_img_1.jpg'), class: 'example-image-link', data: { lightbox:"example-set1"} do %>
                            <%= image_tag 'sro_img_1.jpg', class: 'example-image' %>
                        <% end %>
                    </div>
                    <div class="col-xs-4 sro_bl">
                        <%= link_to image_path('sro_img_2.jpg'), class: 'example-image-link', data: { lightbox:"example-set1"} do %>
                            <%= image_tag 'sro_img_2.jpg', class: 'example-image' %>
                        <% end %>
                    </div>
                    <div class="col-xs-4 sro_bl">
                        <%= link_to image_path('sro_img_1.jpg'), class: 'example-image-link', data: { lightbox:"example-set1"} do %>
                            <%= image_tag 'sro_img_1.jpg', class: 'example-image' %>
                        <% end %>
                    </div>
                    <div class="col-xs-4 sro_bl">
                        <%= link_to image_path('sro_img_2.jpg'), class: 'example-image-link', data: { lightbox:"example-set1"} do %>
                            <%= image_tag 'sro_img_2.jpg', class: 'example-image' %>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</content>